<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fuel consumption meter</title>
</head>
<body>
<h1>Count your fuel consumption!</h1>
<form action="/counter" method="post">
    <label>
        Average fuel consumption per 100 kilometres (in liters)
        <input type="text" id="averageConsumption" name="averageConsumption" th:field="${fuelConsumptionMeterDTO.averageConsumption}">
    </label><br/>
    <label>
        Number of kilometers you want to drive
        <input type="text" id="numberOfKilometers" name="numberOfKilometers" th:field="${fuelConsumptionMeterDTO.numberOfKilometers}">
    </label><br/>
    <label>
        Fuel price per liter
        <input type="text" id="fuelPrice" name="fuelPrice" th:field="${fuelConsumptionMeterDTO.fuelPrice}">
    </label><br/>
    <input type="submit" value="Count"/><input type="reset" value="Reset"/>
</form>

<h3 th:if="${totalCostOfFuel != null and !totalCostOfFuel.startsWith('Error')}">
    You have to fill up for <span th:text="${totalCostOfFuel}"></span>
</h3>
<h3 th:if="${totalCostOfFuel != null and totalCostOfFuel.startsWith('Error')}">
    <span th:text="${totalCostOfFuel}"></span>
</h3>

</body>
</html>