<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Count your fuel consumption or total kilometers."/>
    <meta name="keywords" content="fuel, counter, kilometers"/>
    <meta name="author" content="Donimika"/>

    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css"/>

    <title>Fuel consumption meter</title>
</head>
<body>
<main class="container">
    <a href="?lang=en">ENG</a>
    <a href="?lang=cs">CZ</a>

    <h1 th:text="#{fuel.label}"></h1>

    <div id="totalCostDiv">
        <h3 class="secondHeading">Calculate total fuel cost</h3>
        <form id="totalCostForm" action="/counter/totalcost" method="post">
            <label class="row">
                <div    class="col-10">
                    Average fuel consumption per 100 kilometres (in liters)
                </div>
                <input  class="col-2"
                        type="text" id="averageConsumptionTotalCost" name="averageConsumption" th:field="${totalCostDTO.averageConsumption}">
            </label><br/>
            <label class="row">
                <div    class="col-10">
                    Number of kilometers you want to drive
                </div>
                <input  class="col-2"
                        type="text" id="numberOfKilometers" name="numberOfKilometers" th:field="${totalCostDTO.numberOfKilometers}">
            </label><br/>
            <label class="row">
                <div    class="col-10">
                    Fuel price per liter
                </div>
                <input  class="col-2"
                        type="text" id="fuelPriceTotalCost" name="fuelPrice" th:field="${totalCostDTO.fuelPrice}">
            </label><br/>
            <input type="submit" class="button btn" th:value="#{fuel.calculate}"/>
        </form>

        <h3 th:if="${totalCost != null and totalCost != '' and !totalCost.startsWith('ERROR')}"
            >
            You have to refuel for <span th:text="${totalCost}"></span> units.
        </h3>


        <h3 th:if="${totalCost != null and totalCost.startsWith('ERROR')}"
            >
            <span th:text="${totalCost}"></span>
        </h3>
    </div>

    <div class="flex-container">
        <button onclick="window.location.href='/counter';" class="button btn"
        >Refresh</button>
    </div>

    <div id="totalKilometersDiv">
        <h3 class="secondHeading">Calculate how many kilometers you will drive</h3>
        <form id="totalKilometersForm" action="/counter/totalkilometers" method="post">
            <label class="row">
                <div    class="col-10">
                    Average fuel consumption per 100 kilometres (in liters)
                </div>
                <input  class="col-2"
                        type="text" id="averageConsumptionTotalKilometers" name="averageConsumption" th:field="${totalKilometersDTO.averageConsumptionTotKm}">
            </label><br/>
            <label class="row">
                <div    class="col-10">
                    How much do you want to refuel?
                </div>
                <input  class="col-2"
                        type="text" id="priceForRefueling" name="priceForRefueling" th:field="${totalKilometersDTO.priceForRefueling}">
            </label><br/>
            <label class="row">
                <div    class="col-10">
                    Fuel price per liter
                </div>
                <input  class="col-2"
                        type="text" id="fuelPriceTotalKilometers" name="fuelPrice" th:field="${totalKilometersDTO.fuelPriceTotKm}">
            </label><br/>
            <input type="submit" class="button btn" th:value="#{fuel.calculate}"/>
        </form>

        <h3 th:if="${totalKilometers != null and totalKilometers != '' and !totalKilometers.startsWith('ERROR')}"
            >
            It will be enough fuel to comfortably travel around <span th:text="${totalKilometers}"></span> kilometers.
        </h3>

        <h3 th:if="${totalKilometers != null and totalKilometers.startsWith('ERROR')}"
            >
            <span th:text="${totalKilometers}"></span>
        </h3>
    </div>

</main>

<footer>
    <div class="row">
        <div class="col">
            Created by &copy;Donimika 2024
        </div>
        <div class="col">
           <a href="https://github.com/Donimika/fuel-consumption-meter">GitHub</a>
        </div>
    </div>
</footer>
</body>
</html>